
.dm {
  min-width: 400px;
}
.dm_screen {
    position:relative;
    height:400px;
    min-width:400px;
    border:2px solid #90C695;
    margin:20px ;

    }
.content {
  text-align: center;

}
input {
  height:30px;
  width:auto;
  border-radius: 3px;
}

    }
.dm_text {
    width:300px;
    height:30px;
    }
.dm_text {
  width:200px;
}
.button {
    text-align:center;
    }
.bt_sub  {
    width:100px;
    height:30px;
    background:white;
    border: 2px solid #90C695;
    border-radius: 6px;
    }
.bt_del {
    width:100px;
    height:30px;
    background:white;
    border: 2px solid #90C695;
    border-radius: 6px;
    }

.dm_screen_content {
  font-size: 1em;
  position:absolute;
  right:10px;
}
